body{
    font-family: 'Neucha', cursive;
    font-size: 17px;
}

h3{
    display: inline-block;
    padding-top: 17px;
    margin: 0;
    transition: 0.33s;
    color: #f9ff80;
}

h3:hover{
    cursor: pointer;
    color: #b5e61d;
}

p{
    margin: 0;
}

label{
    margin-bottom: 5px;
    color:#f0fff0;
}

input::placeholder{
    text-align: center;
    color: #bbc7bb;
}

textarea{
    width: 80%;
    height: 80px;
    resize: none;
    font-family: 'Neucha', cursive;
    font-size: 15px;
}

#wrapper{
    position: fixed;
    right:160px;
    bottom: -380px;
    transition: 0.33s;
}

#form{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 430px;
    background: rgba(86, 86, 86, 0.71);
    border: 2px solid #d6dbd7;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 25px;
    font-family: 'Neucha', cursive;
}

.form_elements{
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
    align-items: center;
}

input{
    text-align: center;
    width: 80%;
    font-family: 'Neucha', cursive;
    font-size: 15px;
}

.form_elements:last-child{
    margin-bottom: 0px;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background: rgba(10, 169, 28, 0.85);
    color:#ffffff;
    transition: 0.33s;
    font-size: 14px;
}

button:hover{
    background: rgba(0, 137, 19, 0.85);
    transition: 0.33s;
    box-shadow: 0.2em 0.2em 5px rgba(122,122,122,0.5);
    cursor: pointer;
}

.wrapp_form{
    position: relative;
}

.closer{
    position: absolute;
    width: 21px;
    height: 21px;
    background: rgba(133, 172, 23, 0.91);
    top:-10px;
    right: -9px;
    border-radius: 50%;
    transition: 1s;
}

.d24 {
    background: #d6dbd7;
    height: 21px;
    width: 3px;
    position: relative;
    left: 9px;
    transform: rotate(45deg);
}
.d24:after {
    content: "";
    height: 3px;
    width: 21px;
    background: #d6dbd7;
    position: absolute;
    left: -9px;
    top: 9px;
}

.closer:hover{
    transform: rotate(360deg);
    background: rgba(154, 14, 14, 0.72);
}

.hidden{
    display: none;
}

.closer:hover{
    cursor: pointer;
}